<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.daniel.walkthewalk">

    <!-- Allow data to be persistent when application and services are closed -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Allows pedometer service to be reset by 'PedometerRestartReceiver' -->
        <receiver android:name="us.daniel.walkthewalk.PedometerRestartReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="us.daniel.walkthewalk.PedometerRestart" />
            </intent-filter>
        </receiver>

        <service android:name="us.daniel.walkthewalk.PedometerService"
            android:enabled="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>